<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FinanceAnalysis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FinanceAnalysis.Properties.Settings>
            <setting name="yhooHist" serializeAs="String">
                <value>http://ichart.yahoo.com/table.csv?s={TICKER}&amp;a=0&amp;b=1&amp;c=2000&amp;d=0&amp;e=31&amp;f=2020&amp;g=d</value>
            </setting>
          <setting name="yhooLastPrice" serializeAs="String">
            <value>http://finance.yahoo.com/d/quotes.csv?s={TICKER}&amp;f=d1t1l1</value>
          </setting>
        </FinanceAnalysis.Properties.Settings>
    </applicationSettings>
<connectionStrings>
    <add name="EftalEntities1" connectionString="metadata=res://*/EftalDB.csdl|res://*/EftalDB.ssdl|res://*/EftalDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EFTAL8;initial catalog=EftalDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  

</connectionStrings><startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
